@import "variables";
@import "colors-light";

#header {

  max-width: $content-width;
  margin: 0 auto;
  position: relative;
  white-space: normal;
  word-wrap: break-word;

  margin-top: $top-spacing;
  margin-bottom: $sidebar-spacing;

  h1 {
    line-height: 1.2;
    margin-bottom: 10px;

    a {
      display: inline-block;
      white-space: normal;
      word-wrap: break-word;
    }
  }


  #logo {
    max-width: $sidebar-width;
    text-align: right;

    position: absolute;
    bottom: 0;
    right: $content-width+$sidebar-spacing;

    border-radius: 50%;
  }

}

#page {
  // Page should fixed-size and centered horizontally
  max-width: $content-width;
  margin: 0 auto;
  position: relative;
}

#sidebar {

  max-width: $sidebar-width;
  position: absolute;
  top: 0;
  right: $content-width+$sidebar-spacing;
  text-align: right;

  a {
    padding: 6px 8px;
    text-decoration: none;
  }

  li {
    list-style: none;
    text-align: right;
    margin-bottom: 6px;
    padding: 0;
  }
}

footer {
  margin: 80px auto 40px;
  width: 100%;
  text-align: center;

  a {
    color: $color-tertiary;
  }
}

ul {
  list-style: outside;
  padding: 0 0 18px 18px;

  li {
    padding: 0 0 10px 0;
  }
}

article img {
  display: block;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto 1em;
  border-radius: $corner-radius;
}

@media screen and (max-width: 870px) {

  #logo {
    display: none;
  }

  #header {
    padding: 0;
    margin: 20px;

    h1 {
      margin-bottom: 10px;
    }
  }

  #sidebar {
    width: inherit;
    position: static;
    text-align: left;
    left: 0;
    padding: 0;
    width: auto;

    ul {
      flex-flow: row wrap;
      padding: 0;
      margin-bottom: 10px;

      li {
        width: inherit;
        margin: 0;
        padding: 0;
        display: inline;

        a {
          margin-left: -7px;
        }
      }
    }

    #contacts {
      display: none;
    }
  }

  #page {
    margin: 20px;
    width: inherit;
  }

  footer {
    width: inherit;
    margin: 40px 20px 20px;
  }

}
